[Desktop Entry]
Version=1.0
Name=VLC media player (bittorrent)
GenericName=Bittorrent streaming media player
Comment=Read, capture, broadcast your multimedia streams
TryExec=/usr/bin/vlc
Exec=/usr/bin/vlc --started-from-file %U
Icon=vlc
Terminal=false
NoDisplay=true
Type=Application
Categories=AudioVideo;Player;Recorder;Network;FileTransfer;P2P;
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
