name: vlc-bittorrent CI

on:
  push:
    branches: '*'
  schedule:
    - cron: "00 22 * * 0"

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    name: 'Ubuntu (${{ matrix.image }})'
    timeout-minutes: 20

    strategy:
      matrix:
        image:
          - 'ubuntu:latest'
          - 'ubuntu:rolling'
          - 'ubuntu:devel'
      fail-fast: false

    container:
      image: ${{ matrix.image }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        apt-get update
        apt-get -y install autoconf autoconf-archive automake build-essential libtool libtorrent-rasterbar-dev libvlccore-dev libvlc-dev vlc
    - name: Build
      run: |
        autoreconf -i
        ./configure --with-tests
        make
    - name: Test
      run: |
        make check || (cat test/*.log test/data/*.log && false)
